<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
</head>
<body>
    <h1>All Transactions</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Method</th>
            <th>Account</th>
            <th>Remarks</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction[0] }}</td>
            <td>{{ transaction[1] }}</td>
            <td>{{ transaction[2] }}</td>
            <td>{{ transaction[3] }}</td>
            <td>{{ transaction[4] }}</td>
            <td>{{ transaction[5] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('add_transaction') }}">Add Another Transaction</a>
</body>
</html>